<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Oct 2021
 -->

<html>

  <head>
    <title> {{ foo }} </title>
  </head>
  <style>
    table, th, td {
    border:1px solid black;  
    }
  </style>

  <body>
    <h1> {{ header }} </h1>
    <br>
    <h3> {{ names }} </h3>
    <table style="width:100%">
        <tr>
            <th>Occupation</th>
            <th>Percentage</th>
        </tr>
        {% for key, value in collection.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </table>
  </body>

</html>